In [6]:
import numpy as np
import torch
import torch.nn as nn
import matplotlib.pyplot as plt
import pandas as pd

In [11]:
df = pd.read_csv("./ds/Employee.csv")[:200]

len(df)

200

In [19]:
df

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1
4,Masters,2017,Pune,3,24,Male,Yes,2,1
...,...,...,...,...,...,...,...,...,...
195,Bachelors,2013,Pune,3,28,Male,No,1,0
196,Bachelors,2017,Pune,3,24,Male,No,2,0
197,Bachelors,2013,New Delhi,3,27,Female,No,5,0
198,Bachelors,2015,Bangalore,3,28,Male,Yes,2,0
199,Bachelors,2015,Pune,3,28,Male,No,3,0